*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}
/* screen controller */
.full_wrapper{
    width: 100%;
    background-color: #444;
    height: 80px;
}
.wrapper{
    width: 960px;
    background-color: white;
    height: 100%;
    margin: auto;
}
.about_us{
    background-color: #fff;
    height: 60px;
    width: 50px;

    
}
.about_us p{
    
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

